<%- partial('_partial/slides',null) %>
<div class="ui grid">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <div class="ui middle aligned selection animated list">
        <% site.posts.each(function(post){ %>
          <div class="item post">
            <i class="file text icon"></i>
            <!-- <img class="ui avatar image" src="/images/avatar/small/helen.jpg"> -->
            <div class="content">
              <div class="header header1">
                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
              </div>
              <div class="description des1">tag or keyword</div>
              <div class="description des2">Description Description Description Description Description Description Description Description Description Description Description</div>
              <div class="description des3">Posted by nothing special 2016-10-01</div>
            </div>
          </div>
          <br>
        <% }); %>
    </div>
  </div>
  <div class="three wide column"></div>
</div>
<script>

</script>
<!-- </center> -->
