<%- partial('_partial/head') %>
<body>
  <div id="container" style="background-color:#F2ECDE;height:100%">
    <div id="wrap">
      <div class="outer">
        <section id="slides">
            <%- partial('_partial/slides', null, {cache: !config.relative_link}) %>
        </section>
        <section id="main">
            <div class='ui grid'>
                <div class='four wide column'></div>
                <div class='ten wide column'>
                <%- body %>
                </div>
                <div class='two wide column'></div>
            </div>
        </section>
      </div>
    </div>
    <%- partial('_partial/footer') %>
  </div>
</body>
</html>
