<div class="ui grid">
<div class='four wide column'></div>
<div class='ten wide column'>
<div class='post_page'>
    <div class="post_title">
        <h1 class="ui header">
            About US
        </h1>
    </div>
  
<div class='two wide column'></div>
</div>
</div>

