<div class="post_title">
    <h1 class="ui dividing header">
        <%- post.title %>
    </h1>
</div>
<div class="ui container post_content">
    <div class="ui raised segment">
        <%- post.content %>
  </div>
</div>
