<ul class="cb-slideshow">
	<li><span>Image 01</span><div><h3>se·ren·i·ty</h3></div></li>
	<li><span>Image 02</span><div><h3>com·po·sure</h3></div></li>
	<li><span>Image 03</span><div><h3>e·qua·nim·i·ty</h3></div></li>
	<li><span>Image 04</span><div><h3>bal·ance</h3></div></li>
	<li><span>Image 05</span><div><h3>qui·e·tude</h3></div></li>
	<li><span>Image 06</span><div><h3>re·lax·a·tion</h3></div></li>
</ul>
<div class="container01">
	<header >
		<h1>Chinese 101</h1>
		<h2>Learn Chinese Fun!</h2>
	</header>
	<div id="share" class="bdsharebuttonbox">
		<button class="share-toggle-button"> <i class="share-icon fa fa-share-alt"></i>
		</button>
		<ul class="share-items">
			<li class="share-item">
				<a href="#" class="share-button fa fa-weibo"></a>
			</li>
			<li class="share-item">
				<a href="#" class="share-button fa fa-qq"></a>
			</li>
			<li class="share-item">
				<a href="#" class="share-button fa fa-facebook"></a>
			</li>
			<li class="share-item">
				<a href="#" class="share-button fa fa-twitter"></a>
			</li>
		</ul>
	</div>
	<i class="angle double down icon addi"></i>
</div>
