@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* CSS reset */
<<<<<<< Updated upstream
h1,h2{
	margin:0;
	padding:0;
  font-size:100%;
=======
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
>>>>>>> Stashed changes
	font-weight:normal;
}
ul {
	list-style:none;
}
img {
	border:0;
}

/* General Demo Style */
.container01{
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container01 > header{
	padding: 200px 30px 10px 20px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-align: center;
}

.container01 > header h1{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 35px;
	line-height: 35px;
	position: relative;
  text-align: center;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
<<<<<<< Updated upstream
    padding: 0px 0px 5px 0px;
}
.container01 > header h1 span{

}
.container01 > header h2, p.info{
=======
  padding: 0px 0px 5px 0px;
}

.container > header h2, p.info{
>>>>>>> Stashed changes
	font-size: 16px;
	font-style: italic;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}


.header1{
  font-size: 28px;
  padding-bottom: 15px;
}
.des1{
  font-size: 22px;
  padding-bottom: 8px;
}
.des2{
  padding-bottom: 4px;
}
<<<<<<< Updated upstream
.des3{
  font-style: italic;
}
.h1_1{
  font-size: 48px;
  text-align: center;
}
.align{
  align:center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
=======
/* Media Queries */
@media screen and (max-width: 767px) {
	.container > header{
		text-align: center;
	}
	p.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
}
>>>>>>> Stashed changes
