@import url(http://luuman.github.io/font-awesome/css/font-awesome.min.css);
/*CSS源代码*/
a{
    text-decoration: inherit;
}
.bdsharebuttonbox {
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.share-button, .share-toggle-button {
    position: absolute;
    display: inline-block;
    left: 47.5%;
    top: 10%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #FFFAFA;
    text-align: center;
    color: #C0C0C0;
    border: none;
    outline: none;
}
.share-button:hover, .share-toggle-button:hover {
    color: #fff;
    background: #666;
}
.share-button {
    padding: 0;
    font-size: 30px;
    width: 60px;
    height: 60px;
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
    color: #C0C0C0;
}
.share-toggle-button {
    z-index: 9;
    font-size: 20px;
}
.share-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.share-item {
    display: inline-block;
}
