.post_title {
    margin-top: 5%;
    padding-bottom: 3em;
}

.post_title.h1 {
    font-size: 10em;
}

.post_content {
    margin-top: 1em;
    padding: 1em;
}

.post_tages {
    direction: rtl;
    padding: 1em;
}

.post_navs {
    margin-top: 2em;
    text-align: center;
}
